body {background-color: azure;
            border: 5px solid black;}
body {background-color: aquamarine; font-weight: 500 ; font-family: Verdana, Geneva, Tahoma, sans-serif;}
* {font-family: Verdana, Geneva, Tahoma, sans-serif;}